# Visual Studio Files
*.vcxproj
*.vcxproj.filters
*.sln

.vs/*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Bb]in-int/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
intermediates/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates